.menu_card {
  padding: 0 1rem;
  color: black;
}

.defi {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #dde8d5;
  border-radius: 8px;
  height: 105.89px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
}

.art {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #9f99e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
  /* width: 322.11px; */
  height: 105.89px;
}

.social {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #79bfff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
  /* width: 322.11px; */
  height: 105.89px;
}

.trade {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #d7d4f7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
  /* width: 322.11px; */
  height: 105.89px;
}

.menu_card_content:hover {
  margin-left: 10px;
  transition: 0.15s ease-in-out;
}
.menu_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
}

.menu_subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.link {
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    linear-gradient(0deg, #dde8d5, #dde8d5);
  background-clip: text;
  color: transparent;
  text-decoration: underline solid white;
  float: right;
  margin-top: 1rem;
}
