#tweetsC {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.test {
  color: #f2f9ec;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding-block-start: 3rem;
}
.center {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

/* .center * {
  margin: 0.2rem;
} */

@media screen and (max-width: 700px) {
  .center {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
