.assetConatiner {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  padding: 9rem 1.5rem;
  justify-content: center;
  background-color: black;
}

.assetCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  /* width: 563.77px; */
  align-items: center;
  height: 216px;

  border-radius: 10px;

  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    #dde8d5;
}

#test {
  font-size: 22px;
}

.assetCardHeadingContainer {
  display: flex;
  /* width: 500px; */
  justify-content: space-between;
}
