.nav {
  display: flex;
  border: none;
  margin: 0 auto;
  width: 335px;
  height: 55px;
  border-radius: 10px;
  color: black;
  background-color: white;
}

.innernav {
  display: flex;
  height: 55px;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  width: 335px;
  background: white;
}

.navitem {
  padding-inline: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  font-size: 20px;
  outline: none;
}

#btnControl {
  display: none;
}

#click {
  background: radial-gradient(
    99.99% 514.99% at 100.13% 49.64%,
    #ffe9d5 0%,
    #f8e2ff 0.01%,
    rgb(161, 182, 202) 100%
  ) !important;
  border-radius: 9px;
  width: 100%;
  height: 3.4375rem;
}

/* .nav_toggle:checked ~ .navbar__menu { */
#btnControl:checked ~ .navitem {
  background-color: radial-gradient(
    99.99% 514.99% at 100.13% 49.64%,
    #ffe9d5 0%,
    #f8e2ff 0.01%,
    rgb(161, 182, 202) 100%
  );
  /* border-radius: 9px; */
  /* width: 100%; */
  /* height: 3.4375rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navitem:active {
  background: radial-gradient(
    99.99% 514.99% at 100.13% 49.64%,
    #ffe9d5 0%,
    #f8e2ff 0.01%,
    rgb(161, 182, 202) 100%
  );
} */

.navitemtext {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.item {
  background: #e2e2e2;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  text-align: center;
  max-width: 367px;
  max-height: 449px;
  justify-self: center;
  place-self: center;
}

.testing {
  padding-top: 10rem;
  text-align: center;
  background-color: black;
  color: white;
}

.id {
  word-wrap: break-word;
  font-size: 18px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid red; */
  border-radius: 10px;
  height: 8rem;
  margin-top: 0px;
  background: radial-gradient(
    99.99% 514.99% at 100.13% 49.64%,
    #ffe9d5 0%,
    #f8e2ff 0.01%,
    rgb(161, 182, 202) 100%
  );
}

.description {
  background: #e2e2e2;
  word-wrap: break-word;
  border-radius: 10px;
  /* width: auto; */
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 23px;
}

.container {
  display: grid;
  height: 100vh;
  justify-content: center;
  padding: 0 1rem;
  grid-template-columns: auto;
}
