.container {
  min-height: 80vh;
  /* height: 458.49px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: url("../public/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-attachment: scroll;
}

.banner {
  position: relative;
  padding: 0 0.5rem;
  top: 131px;
}
.banner_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
}

.subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 167.5%;
}

/* .container2 {
} */
