.container {
  /* min-height: 65vh; */
  padding-inline: 1.5rem;

  height: 458.49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../public/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-attachment: scroll;
}

.banner {
  position: relative;
  /* padding: 0 1rem; */
  /* padding: 0 1.5rem;
  top: 131px; */
}
.banner_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
}

#web3 {
  color: transparent;
  background-image: linear-gradient(90deg, #fbfcff -30%, #ccdefc 100%);
  background-size: 100%;
  background-clip: text;
}

.subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 167.5%;
  /* width: 280px; */
}

.behind_btn1 {
  background: #dde8d5;
  width: 104px;
  height: 30px;
  border: none;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  outline: none;
}

.behind_btn2 {
  background: radial-gradient(
    99.99% 514.99% at 100.13% 49.64%,
    #ffe9d5 0%,
    #f8e2ff 0.01%,
    rgb(161, 182, 202) 100%
  );
  width: 104px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
}

.container2 {
  background-color: black;
  height: 100%;
  color: #f2f9ec;
  padding-inline: 1.5rem;
}

.test {
  color: #f2f9ec;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding-block-start: 3rem;
}

.pickOfDay {
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    linear-gradient(0deg, #dde8d5, #dde8d5);
  background-clip: text;
  color: transparent;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding-block-start: 3rem;
}
/* code below is for the top ten chart */
.defiContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 327px; */
  background-color: #f2f9ec;
  color: black;
  height: 65.91px;
  margin-block: 16px;
  padding: 18px;
  border-radius: 14px;
}

/* .defiContainer > * {
  padding-right: 5px;
} */

.symbol {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

.currentPrice {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.currentPriceChange {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
}

.red {
  color: red;
}

.green {
  color: green;
}

/* this will display an elemet in the width doesnt surpass 480px */
/* @media screen and (min-width: 480px) {
  .symbol2 {
    display: none;
  }
} */

/* featured pick section below  */

.homeC {
  background-color: black;
  padding-bottom: 100px;
  /* spacing instead of in individual divs */
}

.sectionContainer {
  position: relative;
  margin-top: 1.5rem;
  padding-inline: 1.5rem;
  color: white;
}

.content_container {
  background: url("../public/featured.png");
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  /* border: 2px solid red; */
}

#moveup {
  display: flex;
  /* border: 2px solid red; */
  position: relative;
  /* height: 100px; */
  left: 2rem;
}

.imgzoracat {
  float: right;
  margin-top: 25px;
  /* margin-left: 25px; */
  background: #9f99e0;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  justify-content: flex-end;
  align-items: center;
  width: 62.51px;
  height: 25.56px;
}

@media screen and (min-width: 1200px) {
  #moveup {
    flex-direction: row;
  }
}

.featured_content {
  padding-left: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 272px; */
  height: 270px;
  position: relative;
  /* top: 50px; */
  left: 1rem;
}

.featured_content > * {
  margin-block: 0.5rem;
}

.featured_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 47px;
  color: #dde8d5;
}

.featured_subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #dde8d5;
}

.featured_visit_btn {
  width: 12rem;
  border: none;
  padding: 1rem;
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    #dde8d5;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
}

/* app menu  */

.appsContainer {
  background-color: black;
  /* height: 10vh; */
  display: flex;
  padding: 1.5rem 1.5rem;
  justify-content: center;
}

.innerC {
  width: 100%;
  height: 100%;
}

.menu_card {
  padding: 0 1rem;
}

.defi {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #dde8d5;
  border-radius: 8px;
  height: 105.89px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
}

.art {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #9f99e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
  /* width: 322.11px; */
  height: 105.89px;
}

.social {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #79bfff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
  /* width: 322.11px; */
  height: 105.89px;
}

.trade {
  background: linear-gradient(270deg, #121212 0%, rgba(0, 0, 0, 0) 100%),
    #d7d4f7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
  /* width: 322.11px; */
  height: 105.89px;
}

.menu_card_content:hover {
  margin-left: 10px;
  transition: 0.15s ease-in-out;
}
.menu_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
}

.menu_subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.link {
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    linear-gradient(0deg, #dde8d5, #dde8d5);
  background-clip: text;
  color: transparent;
  text-decoration: underline solid white;
  float: right;
  margin-top: 1rem;
}
/* events */
.a {
  display: flex;
  flex-direction: column;
}

.b {
  margin-top: 1rem;

  height: 400px;
  margin-bottom: 1rem;
  /* border: 1px solid white; */
  border-radius: 35px;
}

.innerb {
  background: url("../public/devcon.png");
  filter: drop-shadow(1px 4px 75px rgba(121, 121, 121, 0.2));
  border-radius: 35px 35px 0px 0px;
  width: 264;
  height: 215px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.innerbdate {
  width: 104px;
  height: 30px;
  background: #20242e;
  border-radius: 8px;
  position: relative;
  top: 20px;
  left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerb2 {
  background-color: #20242e;
  border-radius: 0px 0px 35px 35px;
  width: 100%;
  height: 200px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.innerb2Title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #f2f9ec;
}

.innerb2SubTitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f2f9ec;
}

.innerb2btn {
  display: flex;
  width: 182.87px;
  height: 34.4px;
  margin-left: 1rem;
  justify-content: center;
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    #dde8d5;
  border-radius: 5px;
  align-items: center;
  color: black;
}
