/* @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); */

.testing {
  padding: 0 1.5rem;
}

.nav {
  display: flex;
  border: none;
  /* margin: 0 auto; */

  /* width: 335px; */
  /* height: 55px; */
  border-radius: 10px;
  color: black;
  /* background-color: white; */
}

.innernav {
  display: flex;
  height: 55px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  /* margin: 0 auto; */
  width: 500px;
  background: white;
  margin-bottom: 2rem;
}

.navitem {
  padding-inline: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.7rem;
  background-color: white;
  font-size: 20px;
  outline: none;
}

.navitem:focus-within {
  background: radial-gradient(
    99.99% 514.99% at 100.13% 49.64%,
    #ffe9d5 0%,
    #f8e2ff 0.01%,
    rgb(161, 182, 202) 100%
  );
  border-radius: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.blue {
  background-color: blue;
  /* height: 20vh; */
}

.red {
  background-color: red;
}

.navitemtext {
  font-family: Raleway;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.header {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  /* max-width: 500px; */
}

/* #tester {
  border-radius: 10px;
} */

/* category cards below */
.item {
  background: #e2e2e2;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  text-align: center;
  max-width: 367px;
  /* max-height: 449px; */
  height: 100%;
  justify-self: center;
  place-self: center;
}

.testing {
  padding-top: 10rem;
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 5rem;
}

.id {
  word-wrap: break-word;
  font-size: 18px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  height: 8rem;
  margin-top: 0px;
  background: radial-gradient(
    99.99% 514.99% at 100.13% 49.64%,
    #ffe9d5 0%,
    #f8e2ff 0.01%,
    rgb(161, 182, 202) 100%
  );
}

.description {
  background: #e2e2e2;
  word-wrap: break-word;
  border-radius: 10px;
  /* width: auto; */
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  max-width: 280px;
}

.viewAppContainer {
  margin-bottom: 1.5rem;
}

.viewApps {
  background: #20242e;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 16px;
  color: #f0f9ec;
}

.container {
  display: inline-grid;
  justify-content: center;
  padding: 0 1rem;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.headerText {
  padding: 0%;
  margin: 0%;
  text-align: left;
  max-width: 872px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: none;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
  }

  .headerTitle {
    /* display: flex; */
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    justify-content: center;
    padding: 0 1rem;
    gap: 2rem;
    grid-template-columns: auto;
  }
}
