#header {
  background-color: black;
  padding-inline: 2rem;
  padding-bottom: 6rem;
  /* height: 70vh; */
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10rem;
  max-width: 987px;
  height: 100%;
  margin: 0 auto;
}

#banner_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 4.938rem;
  line-height: 5.8rem;
  /* max-width: 50rem; */
  color: white;
  padding-bottom: 1rem;
}

#web3 {
  color: #e5afcd;
  background-image: linear-gradient(90deg, #fbfcff 300%, #ccdefc 100%);
  background-size: 100%;
  background-clip: text;
}

.subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 168.5%;
  letter-spacing: 0.06em;
  max-width: 45rem;

  margin: 1.5rem 0;
  color: white;
}

.btnContainer {
  margin-top: 1rem;
  display: flex;
  width: 50%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.btn1 {
  background: #dde8d5;
  width: 15rem;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid #000000;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
}

.btn2 {
  /* height: 30px;
  margin: 5px; */
  width: 15rem;
  text-align: center;
  padding: 1rem;
  outline: none;
  border-radius: 8px;
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    #dde8d5;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
}

.test {
  color: #f2f9ec;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding-block-start: 3rem;
}

.toptenheading {
  padding: 1rem 0;
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    linear-gradient(0deg, #dde8d5, #dde8d5);
  background-clip: text;
  color: transparent;
}

.homeC {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #f2f9ec;
}

@media only screen and (max-width: 768px) {
  .homeC {
    padding-inline: 1.5rem;
  }
  #banner_title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 4rem;

    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  }
  .subtitle {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .btnContainer {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .homeC {
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 498px) {
  .btnContainer {
    width: 100%;
  }
  .btn1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
}

@media only screen and (max-width: 320px) {
  .btn1 {
    height: 4.5rem;
  }
}
