.container {
  background-color: black !important;
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 12rem;
  max-width: 987px;
  margin: 0 auto;
}

#banner_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  max-width: 50rem;
  line-height: 40px;
  color: white;
  padding-bottom: 1rem;
}

#web3 {
  color: #e5afcd;
  background-image: linear-gradient(90deg, #fbfcff 300%, #ccdefc 100%);
  background-size: 100%;
  background-clip: text;
}

.subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  max-width: 35rem;
  margin: 1.5rem 0;
  letter-spacing: 0.06em;
  color: white;
}

.btnContainer {
  margin-bottom: 4rem;
}

.btn1 {
  background: #dde8d5;
  width: 8rem;
  height: 30px;
  margin: 5px;
  padding: 0.5rem;
  border: 2px solid #000000;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
}

.btn2 {
  height: 30px;
  margin: 5px;
  padding: 0.5rem;
  outline: none;
  border-radius: 8px;
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    #dde8d5;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
}

.test {
  color: #f2f9ec;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding-block-start: 3rem;
}

.toptenheading {
  padding: 1rem 0;
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    linear-gradient(0deg, #dde8d5, #dde8d5);
  background-clip: text;
  color: transparent;
}

.homeC {
  background-color: black;
  /* padding-bottom: 100px; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  color: #f2f9ec;
}

@media only screen and (max-width: 768px) {
  .homeC {
    padding-inline: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .homeC {
    padding-inline: 2rem;
  }
  .banner_title {
    font-family: "Raleway";

    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 78px;
    /* or 82% */

    color: #121212;

    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  }
}
