.test {
  color: #f2f9ec;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding-block-start: 3rem;
}

/* events */
.a {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  align-items: center;
}

.b {
  margin-top: 1rem;
  /* max-width: 320px; */
  width: 312px;
  height: 100%;
  margin-bottom: 1rem;
  border-radius: 35px;
}

.innerb {
  background: url("../../public/devcon.png");
  filter: drop-shadow(1px 4px 75px rgba(121, 121, 121, 0.2));
  border-radius: 35px 35px 0px 0px;
  height: 215px;
  max-width: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.innerbdate {
  width: 104px;
  height: 30px;
  background: #20242e;
  border-radius: 8px;
  position: relative;
  top: 20px;
  left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerb2 {
  background-color: #20242e;
  border-radius: 0px 0px 35px 35px;
  height: 200px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.innerb2Title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #f2f9ec;
}

.innerb2SubTitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f2f9ec;
}

.innerb2btn {
  display: flex;
  width: 182.87px;
  height: 34.4px;
  justify-content: center;
  background: radial-gradient(
      99.99% 514.99% at 100.13% 49.64%,
      #ffe9d5 0%,
      #f8e2ff 0.01%,
      rgba(7, 100, 240, 0) 100%
    ),
    #dde8d5;
  border-radius: 5px;
  align-items: center;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .a {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .b {
    max-width: 450px;
  }
}

@media screen and (max-width: 700px) {
  .innerb2 {
    display: flex;
    justify-content: space-between;
  }
}
